<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{% block title %}成員抽籤{% endblock title %}</title>
  </head>
  <body>
    {% block content %}{% endblock content %}
    <hr>
    <h3>FUNCTION LIST</h3>
    <ul>
      <li><a href="/">HOME PAGE</a></li>
      <li><a href="/history">HISTORY</a></li>
      <li><a href="/reset">RESET</a></li>
      <li><a href="/add_page">ADD</a></li>
    </ul>
  </body>
</html>
