{% extends "base.html" %}

{% block title %}抽籤歷史{% endblock title %}

{% block content %}
<h1>HISTORY</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Time</th>
    </tr>
  </thead>
  <tbody>
    {% for history in recent_histories %}
    <tr>
      <td>{{ history.0 }}</td>
      <td>{{ history.1 }}</td>
      <td>{{ history.2 }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}
