<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
{% if index %}
<p>Choice a location</p>
<form action="/draw" method="post">
  <label for="group_name">Department</label>
  {% for item in option %}
  <input type="radio" name="group_name" value="{{item.0}}">{{item.0}}
  {% endfor %}
  <input type="radio" name="group_name" value="ALL" checked>ALL
  <input type="submit" value="Submit">
</form>
{% else %}
<p>Input data</p>
<form action="/add" method="post">
  <input type="text" name="name">
  <input type="text" name="group_name">
  <input type="submit" value="Submit">
</form>
{% endif %}
{% endblock content %}
